/*Estilo general para la pagina*/
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
  display: block;
}

footer {
  padding: 3rem 1rem;
  text-align: center;
}

/*Estilizamos el encabezado*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #070707;
  color: white;
  font-family: sans-serif;
}

.logo {
  display: flex;
  font-size: 1.8rem;
  font-weight: bold;
}

.texto {
  display: flex;
  gap: 30px;
}

.texto p {
  position: relative;
  cursor: pointer;
}

.texto p::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2.5px;
  background-color: rgb(201, 179, 59);
  left: 0;
  bottom: -5px;
}

.texto p:hover::after {
  width: 100%;
}

/* Le damos estilo al hero, la parte mas llamativa de una pagina*/

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #000;

  padding: 60px 20px;
  gap: 20px;
}

.hero h1 {
  font-size: 3.5rem;
  letter-spacing: 2px;
}

.hero h2 {
  font-size: 4rem;
  letter-spacing: 2px;
}

.imgHero img {
  width: 500px;
  max-width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-left: 30px;
}

.buttonHero a {
  display: inline-block;
  background-color: #d59b53;
  color: black;
  padding: 10px 20px;
  width: 5.5rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 1px;
}

.buttonHero a:hover {
  background-color: #b07a35;
}

/*Empezamos a darle estilo a la parte del story*/

.story {
  display: flex;
  flex-direction: column;
  padding: 60px 20px;
}

.storyImg img {
  width: 20rem;
  height: 18rem;
  margin-left: 16rem;
}

.storyContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  padding: 0 20vw;
}

.storyContenido {
  color: #fff;
  text-align: left;
  margin-left: 24rem;
}

.storyTitle {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.lineaStory {
  width: 65px;
  height: 1px;
  background-color: #fff;
  margin-right: 10px;
}

.storyTitle h2 {
  font-size: 3rem;
  letter-spacing: 2px;
  margin: 0;
}

.botonStory {
  display: inline-block;
  background-color: #d59b53;
  color: black;
  padding: 0.6rem 1.2rem;
  width: 5.5rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 1px;
}

.botonStory:hover {
  background-color: #b07a35;
}

/*La otra parte de la pagina antes de finalizar*/

.place {
  padding: 5rem 2rem;
  background-color: #000;
  color: white;
}

.placeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.placeText {
  max-width: 500px;
}

.placeTexto h2 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.placeText p {
  font-size: 2rem;
  line-height: 1.5;
}

.placeImg img {
  width: 400px;
  max-width: 100%;
  height: auto;
}

.botonPlace {
  display: inline-block;
  background-color: #d59b53;
  color: black;
  padding: 0.6rem 1.2rem;
  width: 5.5rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 1px;
}

.botonPlace:hover {
  background-color: #b07a35;
}

/*Estilos para los productos*/

.products {
  padding: 4rem 2rem;
  background-color: #000;
  color: white;
}

.products h2 {
  text-align: left;
  font-size: 2.8rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  font-weight: bold;
}

.productContainer {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.productCard {
  border: 1px solid #d59b53;
  width: 280px;
  border-radius: 6px;
  padding-top: 5rem;
  padding-bottom: 2rem;
  text-align: center;
  position: relative;
  min-height: 460px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productCard:hover {
  transform: translateY(-5px);
}

.productCard img {
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #000;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border: 2px solid #d59b53;
}

.productContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
}

.productContent h3 {
  margin: 1rem 0 0.5rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.productContent ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

.productContent li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.boton {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #d59b53;
  color: black;
  padding: 0.6rem 1.2rem;
  width: 5.5rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 2px;
}

.boton:hover {
  background-color: #b07a35;
}

/*Estilos footer*/

.columna {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.cajaFooter {
  max-width: 300px;
  margin: 1rem;
}

.cajaFooter h4 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.cajaFooter span {
  color: #d59b53;
}

.cajaFooter p {
  font-size: 0.95rem;
  line-height: 1.5;
}

.FooterCopy {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.lineDecorativaArriba {
  width: 90%;
  height: 2px;
  background-color: #d59b53;
  margin: 0 auto 2rem auto;
}
.FooterCopy .line {
  width: 90%;
  height: 2px;
  background-color: #d59b53;
}

.FooterCopy p {
  font-size: 0.9rem;
}

.FooterCopy span {
  color: #d59b53;
}

/*Use un media query para las demas partes de la pagina debido a que use medidas absolutas*/

@media (max-width: 768px) {

  .storyContainer {
    flex-direction: column;
    text-align: center;
    padding: 2rem 1rem;
  }

  .storyImg img {
    width: 80%;
    margin: 0 auto 2rem;
  }

  .storyContenido {
    margin-left: 0;
    align-items: center;
  }

  .storyTitle {
    justify-content: center;
  }

  .lineaStory {
    margin-right: 10px;
  }

  .storyContenido p {
    font-size: 1rem;
  }

  .botonStory {
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .placeContainer {
    flex-direction: column;
    text-align: center;
  }

  .placeText h2 {
    font-size: 2.2rem;
  }

  .placeImg img {
    width: 80%;
    margin: 0 auto;
  }
}