/*Estilo general para la pagina*/
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
  display: block;
}
/*Estilizamos el encabezado*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #070707;
  color: white;
  font-family: sans-serif;
}

.logo {
  display: flex;
  font-size: 1.8rem;
  font-weight: bold;
}

.texto {
  display: flex;
  gap: 30px;
}

.texto p {
  position: relative;
  cursor: pointer;
}

.texto p::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2.5px;
  background-color: rgb(201, 179, 59);
  left: 0;
  bottom: -5px;
}

.texto p:hover::after {
  width: 100%;
}

/* Le damos estilo al hero, la parte mas llamativa de una pagina*/

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #000;

  padding: 60px 20px;
  gap: 20px;
}

.hero h1 {
  font-size: 3.5rem;
  letter-spacing: 2px;
}

.hero h2 {
  font-size: 4rem;
  letter-spacing: 2px;
}

.imgHero img {
  width: 500px;
  max-width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-left: 30px;
}

.buttonHero a {
  display: inline-block;
  background-color: #d59b53;
  color: black;
  padding: 10px 20px;
  width: 5.5rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 1px;
}

.buttonHero a:hover {
  background-color: #b07a35;
}

/*Empezamos a darle estilo a la parte del story*/
.story {
  display: flex;
  flex-direction: column;
  padding: 60px 20px;
}

.storyImg img {
  width: 20rem;
  height: auto;
  margin-left: 16rem;
}

.storyContainer {
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 0 2rem;
}

.storyContenido {
  color: #fff;
  text-align: left;
  margin-left: 24rem;
}

.storyTitle {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.lineaStory {
  width: 65px;
  height: 1px;
  background-color: #fff;
  margin-right: 10px;
}

.storyTitle h2 {
  font-size: 3rem;
  letter-spacing: 2px;
  margin: 0;
}

.botonStory {
  display: inline-block;
  background-color: #d59b53;
  color: black;
  padding: 0.6rem 1.2rem;
  width: 5.5rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 1px;
}

.botonStory:hover {
  background-color: #b07a35;
}

